.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

.todo-list-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.todo-list,
.bookmarked-list {
  max-width: 400px;
  margin: 0 10px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.item p {
  flex-grow: 1;
  margin: 0 10px;
}

input[type="text"] {
  width: 100px;
  padding: 5px;
}

button {
  padding: 5px 10px;
  margin: 5px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}